PORT=5000
DATABASE_URL="postgresql://neondb_owner:npg_l9nTwBvmhZz5@ep-tiny-bar-a12kp0kg-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
EMBEDDING_MODEL=text-embedding-3-small
LLM_MODEL=gpt-4o-mini
GROQ_API_KEY=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
